Repository CDCgov/dynode-web: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, clippy, cargo-check, cargo-fmt

prettier:
  name: prettier
  entry: npm run prettier
  args:
  - --check
  language: system

eslint:
  name: eslint
  entry: npm run lint
  language: system

clippy:
  name: clippy
  description: Lint rust files
  entry: cargo +nightly clippy
  args:
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check the rust package
  entry: cargo +nightly check
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  description: Format rust files
  entry: cargo fmt
  args:
  - --
  language: system

Deploying to gh-pages from @ CDCgov/dynode-web@b60caa46ffdac1291a5274950e84a5328f3e16fb 🚀
  assets/index-BAcs3GjL.js
  assets/index-DOFWIGla.js
  assets/wasm_dynode_bg-CCxdkuOX.wasm
  assets/wasm_dynode_bg-CbtZ1f5y.wasm
  index.html
Due: eslint

Update text
  README.md
  docs/index.md
  src/config/parameters.config.ts
  src/mitigations/Vaccine.tsx
  src/views/ParamsEditor.tsx
  wasm_dynode/src/mitigations.rs
  wasm_dynode/src/model.rs
Due: prettier, clippy, cargo-check, cargo-fmt

Add mdbook
  .gitignore
  docs/book.toml
  docs/src/SUMMARY.md
  docs/src/intro.md
  package.json
Due: prettier

add readme note
  README.md
Due: prettier

fixup
  docs/index.md
Due: prettier

fixup
  package.json
Due: none

Update text (#92)
  README.md
  docs/index.md
  src/config/parameters.config.ts
  src/mitigations/Vaccine.tsx
  src/views/ParamsEditor.tsx
  wasm_dynode/src/mitigations.rs
  wasm_dynode/src/model.rs
Due: prettier, clippy, cargo-check, cargo-fmt

Deploying to gh-pages from @ CDCgov/dynode-web@b369f1ccaf10c9e9e952ddfb5603d91b21e95e93 🚀
  assets/index-BqtRzG_6.js
  assets/wasm_dynode_bg-CCxdkuOX.wasm
  assets/wasm_dynode_bg-DPU5tmim.wasm
  index.html
Due: eslint

Explain infectiousness
  docs/index.md
Due: prettier

Assert serial interval relationship
  docs/index.md
Due: prettier

clarify means
  docs/index.md
Due: prettier

Update text
  docs/index.md
Due: prettier

Add mdbook
  .gitignore
  README.md
  docs/book.toml
  docs/src/SUMMARY.md
  docs/src/intro.md
  package.json
Due: prettier

Update wording
  docs/index.md
Due: prettier

Can use percents for matrices
  src/forms/MatrixInput.tsx
  src/forms/NumberInput.test.tsx
  src/forms/NumberInput.tsx
  src/mitigations/Community.tsx
  src/views/ParamsEditor.tsx
Due: none

Path conditions:
  prettier: any of: \.(md|markdown|mdown)$
  eslint: any of: \.(js|mjs|cjs)$
  clippy: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-fmt: any of: \.rs$
